* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Changed each class .header to semantic element header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}
/* Changed the <div> tags to the semantic <nav> tag */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* Name change from "hero" to "main-picture" */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Changed to <main> for the main content of the webpage. */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Adhered to the DRY principle and deleted repetitive code. (We need only 1 aside, aside img, and aside h3 property) */
section {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside {
    margin-bottom: 32px;
    color: #ffffff;
}

aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Adhered to the DRY principle and deleted repetitive code. (We need only 1 article, article img, and article h2 property) */

article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

article img {
    max-height: 200px;
}

article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Changed the .footer to semantic <footer> */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Changed the .footer to semantic <footer> */
footer h4 {
    font-size: 20px;
}
